
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class="glyphicon glyphicon-home"></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class="glyphicon glyphicon-refresh"></span> Sync
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class="glyphicon glyphicon-th-list"></span> Results
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/reports']">
                        <span class="glyphicon glyphicon-signal"></span> Reports
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/units']">
                        <span class="glyphicon glyphicon-phone"></span> Units
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/admin']">
                        <span class="glyphicon glyphicon-wrench"></span> Admin
                    </a>
                </li>
            </ul>
        </div>

